/* Coolors Exported Palette - https://coolors.co/55dde0-33658a-2f4858-f6ae2d-f26419 */

/* CSS HEX */
--robin-egg-blue: #55dde0ff;
--lapis-lazuli: #33658aff;
--charcoal: #2f4858ff;
--hunyadi-yellow: #f6ae2dff;
--orange-pantone: #f26419ff;

/* CSS HSL */
--robin-egg-blue: hsla(181, 69%, 61%, 1);
--lapis-lazuli: hsla(206, 46%, 37%, 1);
--charcoal: hsla(203, 30%, 26%, 1);
--hunyadi-yellow: hsla(39, 92%, 57%, 1);
--orange-pantone: hsla(21, 89%, 52%, 1);

/* SCSS HEX */
$robin-egg-blue: #55dde0ff;
$lapis-lazuli: #33658aff;
$charcoal: #2f4858ff;
$hunyadi-yellow: #f6ae2dff;
$orange-pantone: #f26419ff;

/* SCSS HSL */
$robin-egg-blue: hsla(181, 69%, 61%, 1);
$lapis-lazuli: hsla(206, 46%, 37%, 1);
$charcoal: hsla(203, 30%, 26%, 1);
$hunyadi-yellow: hsla(39, 92%, 57%, 1);
$orange-pantone: hsla(21, 89%, 52%, 1);

/* SCSS RGB */
$robin-egg-blue: rgba(85, 221, 224, 1);
$lapis-lazuli: rgba(51, 101, 138, 1);
$charcoal: rgba(47, 72, 88, 1);
$hunyadi-yellow: rgba(246, 174, 45, 1);
$orange-pantone: rgba(242, 100, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-right: linear-gradient(90deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-bottom: linear-gradient(180deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-left: linear-gradient(270deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-top-right: linear-gradient(45deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-bottom-right: linear-gradient(135deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-top-left: linear-gradient(225deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-bottom-left: linear-gradient(315deg, #55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);
$gradient-radial: radial-gradient(#55dde0ff, #33658aff, #2f4858ff, #f6ae2dff, #f26419ff);